body {
    font-family: 'Poppins', sans-serif;
}

section {
    height: 500px;
    background-color: white;
    border: solid black 2px;


}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
    justify-content: space-between;
}

footer {
    height: 500px;
    background-color: black;

}
nav {
    display: flex;
}
ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}
li {
    
    text-decoration: none;
}
h1 {
font-size: 90px;
margin: 0;
}
p{
    margin: 0;
}
.hero-text {
    margin-left: 80px;
}
.button {
    width: 220px;
    height: 60px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;

}